@use "../../App.scss" as *;
.community {
  &-wrapper {
    display: block;
    padding: var(--spacing-1) var(--spacing-2);
    background-color: var(--color-element-bg);
    border: 0.25px solid var(--color-element-border);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);
  }
  &-top {
    display: flex;
    gap: var(--spacing-2);
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      gap: var(--spacing-2);
      align-items: center;
    }
  }
  &-image {
    width: var(--size-3);
    height: var(--size-3);
    border-radius: var(--radius-5);
  }
  &-bottom {
    margin-top: var(--spacing-1);
    line-break: loose;

    .description {
    }
    .subscribers {
      width: 100%;
      display: inline-block;
      text-align: right;
      color: var(--color-element-border);
    }
  }
}

.skeleton {
  width: 10%;
  height: var(--size-2);
  margin-bottom: var(--spacing-0);
  background: var(--color-element-border);
  opacity: 0.5;
  border-radius: var(--radius);
  animation: skeleton-loading 1s linear infinite alternate;
  &-avator-sm {
    @extend .community-image;
    opacity: 0.1;
    background-color: var(--color-element-border);
    animation: skeleton-loading 1s linear infinite alternate;
  }
  &-community {
    @extend .skeleton;
    width: calc(var(--size-5) * 2);
    height: var(--size-2);
  }
  &-description {
    @extend .skeleton;
    width: 77%;
    height: var(--size-1);
    margin: 0;
    &:last-child {
      width: 70%;
    }
  }
}
