@use "../../App.scss" as *;

.user {
  &-wrapper {
    width: 100%;
    padding: var(--spacing-1) var(--spacing-2);
    background-color: var(--color-element-bg);
    border: 0.25px solid var(--color-element-border);
    box-shadow: var(--box-shadow);
    border-radius: var(--radius);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacing-2);
  }

  &-image {
    width: var(--size-3);
    height: var(--size-3);
    border-radius: var(--radius-5);
  }
  .right {
    width: 100%;
    display: flex;
  }
  &-name {
  }
  &-comment {
  }
}
