@use "../../App.scss" as *;

aside {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
  width: 100%;
}
.aside {
  padding: 1rem;
  background-color: var(--color-element-bg);
  border-radius: var(--radius);
  border: 0.25px solid var(--color-element-border);
  &__logo {
    width: 20%;
  }
}
