@use "../../App.scss" as *;
.card {
  width: 100%;
  min-height: 3rem;
  padding: 1rem;

  display: flex;
  gap: var(--spacing-2);

  background-color: var(--color-element-bg);
  border-radius: var(--radius);
  border: 0.25px solid var(--color-element-border);
  box-shadow: var(--box-shadow);
  &__ups,
  &__downs {
    font-size: var(--size-0);
    position: relative;
    bottom: var(--spacing-0);
  }
  &__subreddit-name {
    text-align: right;
    font-size: var(--size-0);
    font-weight: 600;
  }
  &__author {
    font-size: var(--size-1);
    font-weight: 500;
  }
  &__time {
    font-size: var(--size-0);
  }
  &__title {
    font-size: var(--size-2);
    + span {
      line-break: anywhere;
    }
  }
  .md.hydrated {
    font-size: var(--size-1);
  }
  ion-icon {
    padding: var(--spacing-0);
    border: none;
    &:hover {
      border: none;
      background-color: transparent;
    }
  }
  &__image {
    max-width: 100%;
    max-height: 25rem;
    margin-top: var(--spacing-2);
    object-fit: cover;
    border-radius: var(--radius);
  }
  &__video {
    max-width: 100%;
    max-height: 25rem;
    margin-top: var(--spacing-2);
    object-fit: contain;
    border-radius: var(--radius);
  }
  &__comment {
    &-icon {
      margin-top: var(--spacing-0);
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &-bottom {
    width: 100%;
  }
}
