@use "../../App.scss" as *;

nav {
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}

.navi {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-2);

  button {
    background-color: var(--color-element-bg);
    border-radius: var(--radius-1);
    &:hover {
      box-shadow: var(--box-shadow);
    }
  }
}
