@use "../../App.scss" as *;

header {
  padding-top: var(--spacing-2);
  padding-bottom: var(--spacing-2);
  background-color: var(--color-element-bg);
  box-shadow: var(--box-shadow);
  border-radius: 0 0 var(--radius) var(--radius);
}

.header {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-1);
  justify-content: space-between;
  align-items: center;
  &__logo {
    width: 15rem;
  }
  &__icon {
    display: none;
  }
  .md.hydrated {
    font-size: var(--size-2);
  }
}

@media only screen and (min-width: 750px) {
  .header {
    &__icon {
      display: block;
    }
    .md.hydrated {
      font-size: var(--size-3);
    }
  }
}
